[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.13"
mysqlclient = "==2.2.0"
django-cors-headers = "*"
openpyxl = "*"
python-dotenv = "==1.0.1"
djangorestframework = "==3.14.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
